html {
    box-sizing: initial;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    background: #ffffff;
    border-radius: 20px;
    max-width: 325px;
    margin: 100px auto;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 75%;
}

.card-box {
    display: none;
}

#desktop-img, .card-box {
    display: none;
} 

.img-container img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 240px;
    margin: auto;
    transform: translateY(-59%);
}

.text-container {
    margin: auto;
    transform: translateY(-25%)
}

.accordion-item {
    border-bottom: 1px hsl(240, 5%, 91%) solid;
    margin: auto 20px;
}

.accordion-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    font-size: 1em;
    font-family: 'Kumbh sans', sans-serif;
    color: hsl(237, 12%, 33%);
    text-align: left;
}

.accordion-h::after {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out;
}

.accordion-p {
    font-size: 0.75em;
    line-height: 1.5em;
    color: hsl(240, 6%, 50%);
    margin-right: 20px;
    padding: 10px auto;
}

h1 {
    text-align: center;
    font-size: 2em;
}

/**For Javascript when accordion is opened**/

.accordion-h.open {
    font-weight: 700;
}

.accordion-h.open::after {
    transform: rotate(180deg);
}

.accordion-collapse.collapse {
    display: none;
}

.accordion-collapse.collapsing {

}

.accordion-collapse.open {
    display: block; 
}

/**Footer Styles**/

footer { 
    font-size: 11px; 
    text-align: center; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}

/**Desktop Styles**/

@media only screen and (min-width: 1200px) {
    .card {
        position: relative;
        display: flex;
        max-width: 900px;
        margin: 120px auto;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: -13% center;
    }
    
    .card-box {
        display: block;
        position: absolute;
        top: 57%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
    }

    #mobile-img {
        display: none;
    }
    
    #desktop-img {
        display: flex;
    }

    .img-container, .text-container {
        flex: 1; 
    }

    .img-container {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .img-container img{
        width: 100%;
        height: auto;
        max-width: 400px;
        padding-right: 30px;
        transform: translateX(-60px);
    }

    .text-container {
        margin: 75px 75px 75px 0;
        transform: translateY(0%);
    }

    h1 {
        text-align: left;
        margin: auto auto 40px 20px;
    }

}